canvas
{
    border: 5px solid white;
    border-radius: 20px;
}

#Song_Name
{
    background-color: rgb(126, 144, 206);
    font-size: 25px;
    color: rgb(55, 47, 105);
    font-weight: bold;
    font-family:Courier;
}

#note_1
{
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family:Courier;
}

#heading
{
    font-size: 25px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    font-family:Courier;
}